//vars
$color-darker: #0F0F0C;
$color-lighter: #F5F1ED;
$color-lightest: #FFFDFD;
$color-gray: #C5D9E2;
$color-gray-dark: #757780;

$color-primary: #007EA7;
$color-success: #119822;
$color-alert: #DA3E52;

//screen
$screen-sm-min: 768px;